<footer class="footer ">
    <div class="footer__content container">

        <div class="footer__text">
            <p class="footer__slogan">Homemade ice-cream <br class="footer__slogan-space"> made</p>
            <p class="footer__tittle">With Passion</p>
        </div>

        <div class="footer__links">
            <ul class="footer__social-list">
                <li>
                    <a href="https://github.com/" class="footer__social-link">
                        <svg class="footer__social-icon">
                            <use href="./images/symbol-defs.svg#github">
                            </use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://web.telegram.org/" class="footer__social-link">
                        <svg class="footer__social-icon">
                            <use href="./images/symbol-defs.svg#telegram">
                            </use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://facebook.com/" class="footer__social-link">
                        <svg class="footer__social-icon">
                            <use href="./images/symbol-defs.svg#facebook">
                            </use>
                        </svg>
                    </a>
                </li>
            </ul>

            <div class="footer__contact">
                <span class="footer__call-me">Feel free to contacts</span>
                <a href="tel:+61(0)383766284" class="footer__number">tel:+61 (0) 383 766 284</a>
            </div>
        </div>
    </div>

    <div class="footer__copyright">
        <span class="footer__copyright-text">&copy;&nbsp;2022 - IceCream <br class="footer__space"> All Rights
            Reserved</span>
    </div>

</footer>