<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="swiper image-slider">
            <div class="image-slider__wrapper swiper-wrapper">
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source
                                srcset="./images/gallery-icecream-desktop.jpg 1x, ./images/gallery-icecream-desktop-2x.jpg 2x"
                                media="(min-width: 1200px)" >
                            <source
                                srcset="./images/gallery-icecream-tab.jpg 1x, ./images/gallery-icecream-tab-2x.jpg 2x"
                                media="(min-width: 768px)" >
                            <source
                                srcset="./images/gallery-icecream-mobile.jpg 1x, ./images/gallery-icecream-mobile-2x.jpg 2x"
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream-mobile.jpg" alt="Ice Crem 1" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source
                                srcset="./images/gallery-icecream1-desktop.jpg 1x"
                                media="(min-width: 1200px)" >
                            <source 
                                srcset="./images/gallery-icecream1-tab.jpg 1x"
                                media="(min-width: 768px)" >
                            <source 
                                srcset="./images/gallery-icecream1-mobile.jpg 1x"
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream1-mobile.jpg" alt="Ice Crem 2" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source 
                                srcset="./images/gallery-icecream2-desktop.jpg 1x"
                                media="(min-width: 1200px)" >
                            <source 
                                srcset="./images/gallery-icecream2-tab.jpg 1x"
                                media="(min-width: 768px)" >
                            <source 
                                srcset="./images/gallery-icecream2-mobile.jpg 1x"
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream2-mobile.jpg" alt="Ice Crem 3" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source 
                                srcset="./images/gallery-icecream3-desktop.jpg 1x"
                                media="(min-width: 1200px)" >
                            <source 
                                srcset="./images/gallery-icecream3-tab.jpg 1x"
                                media="(min-width: 768px)" >
                            <source 
                                srcset="./images/gallery-icecream3-mobile.jpg 1x"
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream3-mobile.jpg" alt="Ice Crem 4" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source 
                                srcset="./images/gallery-icecream4-desktop.jpg 1x" 
                                media="(min-width: 1200px)" >
                            <source 
                                srcset="./images/gallery-icecream4-tab.jpg 1x" 
                                media="(min-width: 768px)" >
                            <source 
                                srcset="./images/gallery-icecream4-mobile.jpg 1x" 
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream4-mobile.jpg" alt="Ice Crem 5" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source 
                                srcset="./images/gallery-icecream5-desktop.jpg 1x" 
                                media="(min-width: 1200px)" >
                            <source 
                                srcset="./images/gallery-icecream5-tab.jpg 1x" 
                                media="(min-width: 768px)" >
                            <source 
                                srcset="./images/gallery-icecream5-mobile.jpg 1x" 
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream5-mobile.jpg" alt="Ice Crem 6" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source 
                                srcset="./images/gallery-icecream6-desktop.jpg 1x" 
                                media="(min-width: 1200px)" >
                            <source 
                                srcset="./images/gallery-icecream6-tab.jpg 1x" 
                                media="(min-width: 768px)" >
                            <source 
                                srcset="./images/gallery-icecream6-mobile.jpg 1x" 
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream6-mobile.jpg" alt="Ice Crem 7" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source 
                                srcset="./images/gallery-icecream7-desktop.jpg 1x" 
                                media="(min-width: 1200px)" >
                            <source 
                                srcset="./images/gallery-icecream7-tab.jpg 1x" 
                                media="(min-width: 768px)" >
                            <source 
                                srcset="./images/gallery-icecream7-mobile.jpg 1x" 
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream7-mobile.jpg" alt="Ice Crem 8" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source 
                                srcset="./images/gallery-icecream8-desktop.jpg 1x" 
                                media="(min-width: 1200px)" >
                            <source 
                                srcset="./images/gallery-icecream8-tab.jpg 1x" 
                                media="(min-width: 768px)" >
                            <source 
                                srcset="./images/gallery-icecream8-mobile.jpg 1x" 
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream8-mobile.jpg" alt="Ice Crem 9" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source 
                                srcset="./images/gallery-icecream9-desktop.jpg 1x" 
                                media="(min-width: 1200px)" >
                            <source 
                                srcset="./images/gallery-icecream9-tab.jpg 1x" 
                                media="(min-width: 768px)" >
                            <source 
                                srcset="./images/gallery-icecream9-mobile.jpg 1x" 
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream9-mobile.jpg" alt="Ice Crem 10" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source 
                                srcset="./images/gallery-icecream10-desktop.jpg 1x" 
                                media="(min-width: 1200px)" >
                            <source 
                                srcset="./images/gallery-icecream10-tab.jpg 1x" 
                                media="(min-width: 768px)" >
                            <source 
                                srcset="./images/gallery-icecream10-mobile.jpg 1x" 
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream10-mobile.jpg" alt="Ice Crem 11" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source 
                                srcset="./images/gallery-icecream11-desktop.jpg 1x" 
                                media="(min-width: 1200px)" >
                            <source 
                                srcset="./images/gallery-icecream11-tab.jpg 1x" 
                                media="(min-width: 768px)" >
                            <source 
                                srcset="./images/gallery-icecream11-mobile.jpg 1x" 
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream11-mobile.jpg" alt="Ice Crem 12" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source 
                                srcset="./images/gallery-icecream12-desktop.jpg 1x" 
                                media="(min-width: 1200px)" >
                            <source 
                                srcset="./images/gallery-icecream12-tab.jpg 1x" 
                                media="(min-width: 768px)" >
                            <source 
                                srcset="./images/gallery-icecream12-mobile.jpg 1x" 
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream12-mobile.jpg" alt="Ice Crem 13" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source 
                                srcset="./images/gallery-icecream13-desktop.jpg 1x" 
                                media="(min-width: 1200px)" >
                            <source 
                                srcset="./images/gallery-icecream13-tab.jpg 1x" 
                                media="(min-width: 768px)" >
                            <source 
                                srcset="./images/gallery-icecream13-mobile.jpg 1x" 
                                media="(max-width: 767px)" >
                            <img src="./images/gallery-icecream13-mobile.jpg" alt="Ice Crem 14" class="gallery__img">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>