<header class="page-header">

    <div class="page-header-container container">

        <!-- LOGO -->

        <a href="#">
            <svg class="logo logo--first">
                <use href="./images/symbol-defs.svg#logo-icecream"></use>
            </svg>
        </a>

        <!-- MOBILE MENU -->

        <div class="page-header-mobile">

            <svg class="page-header__menu-open" data-menu-open>
                <use href="./images/symbol-defs.svg#burger-menu"></use>
            </svg>

            <!-- MOBILE MENU LOGO -->

            <div class="page-header-mobile__menu" data-menu>


                <div class="page-header-mobile__menu-open-icons">
                    <a href="./index.html" class="link">
                        <svg class="logo ">
                            <use href="./images/symbol-defs.svg#logo-icecream"></use>
                        </svg>
                    </a>

                    <!-- MOBILE MENU CLOSE -->

                    <svg class="page-header__menu-close" data-menu-close>
                        <use href="./images/symbol-defs.svg#close"></use>
                    </svg>
                </div>

                <!-- MOBILE MENU-BOX  -->
                <div>
                    <div class="page-header-mobile__menu-box">
                        <ul class="page-header-mobile__list">
                            <li class="page-header-mobile__item menu-item link">
                                <a href="./index.html" class="link">Home</a>
                            </li>
                            <li class="page-header-mobile__item menu-item link">
                                <a href="#about" class="link">How it's made?</a>
                            </li>
                            <li class="page-header-mobile__item menu-item link">
                                <a href="#products" class="link">Our products</a>
                            </li>
                            <li class="page-header-mobile__item menu-item link">
                                <a href="#contacts" class="link">Contacts</a>
                            </li>
                        </ul>
                        <button type="button" class="page-header__button buy-btn js-open-modal" data-modal="1">Buy
                            now
                            <span>
                                <svg class="page-header__button-arrow">
                                    <use href="./images/symbol-defs.svg#button-arrow"></use>
                                </svg>
                            </span>
                        </button>

                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>



        <!-- TABLET MENU -->

        <div class="page-header-tablet">

            <!-- TABLET BUTTONS NORMAL  -->

            <div class="page-header-tablet__bar">
                <ul class="page-header-tablet__list">
                    <li data-menu-open>
                        <svg class="page-header__menu-open page-header__menu-open--margin" data-menu-open-tab>
                            <use href="./images/symbol-defs.svg#burger-menu"></use>
                        </svg>
                    </li>
                    <li>
                        <button type="button" class="page-header__button buy-btn js-open-modal" data-modal="1">
                            Buy now
                            <span>
                                <svg class="page-header__button-arrow">
                                    <use href="./images/symbol-defs.svg#button-arrow"></use>
                                </svg>
                            </span>
                        </button>
                    </li>
                </ul>
            </div>

            <!-- TABLET MENU IS OPEN -->

            <div class="page-header-tablet__menu" data-menu-tab>
                <div class="page-header-tablet__menu-open-icons link">
                    <a href="./index.html">
                        <svg class="logo logo--second">
                            <use href="./images/symbol-defs.svg#logo-icecream"></use>
                        </svg>
                    </a>

                    <!-- TABLET MENU CLOSE BUTTON -->

                    <svg class="page-header__menu-close" data-menu-close-tab>
                        <use href="./images/symbol-defs.svg#close"></use>
                    </svg>
                </div>

                <!-- TABLET MENU LIST -->

                <div class="page-header-tablet__menu-box">
                    <ul class="page-header-tablet__menu-list">
                        <li class="page-header-tablet__menu-item menu-item link">
                            <a href="./index.html" class="link">Home</a>
                        </li>
                        <li class="page-header-tablet__menu-item menu-item link">
                            <a href="#about" class="link">How it's made?</a>
                        </li>
                        <li class="page-header-tablet__menu-item menu-item link">
                            <a href="#products" class="link">Our products</a>
                        </li>
                        <li class="page-header-tablet__menu-item menu-item link">
                            <a href="#contacts" class="link">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- DESKTOP MENU -->

        <div class="page-header-desktop">
            <ul class="page-header-desktop__list">
                <li class="page-header-desktop__menu-item ">
                    <a href="./index.html" class="link">Home</a>
                </li>
                <li class="page-header-desktop__menu-item ">
                    <a href="#about" class="link">How it's made?</a>
                </li>
                <li class="page-header-desktop__menu-item ">
                    <a href="#products" class="link">Our products</a>
                </li>
                <li class="page-header-desktop__menu-item ">
                    <a href="#contacts" class="link">Contacts</a>
                </li>
            </ul>
        </div>
        <div class="page-header-desktop">
            <button type="button" class="page-header__button buy-btn js-open-modal" data-modal="1">
                Buy now
                <span>
                    <svg class="page-header__button-arrow">
                        <use href="./images/symbol-defs.svg#button-arrow"></use>
                    </svg>
                </span>
            </button>
        </div>
    </div>
</header>