<section class="section products" id="products">
    <div class="container">
        <b class="section__suptitle">100% natural</b>
        <h2 class="section__title">products</h2>
        <ul class="product-cards">
            <li class="product product__ice-cream">
                <div class="product__img-thumb">
                    <img srcset="./images/item-before1-mob.png 1x, ./images/item-before1-mob-2x.png 2x"
                        src="./images/item-before1-mob.png" alt="Soft ice-cream" class="product__img product__img--mob"
                        width="200">
                    <img srcset="./images/item-before1-tab.png 1x, ./images/item-before1-tab-2x.png 2x"
                        src="./images/item-before1-tab.png" alt="Soft ice-cream" class="product__img product__img--tab"
                        width="200">
                    <img srcset="./images/item-before1.png 1x, ./images/item-before1-2x.png 2x"
                        src="./images/item-before1.png" alt="Soft ice-cream" class="product__img product__img--desk"
                        width="300">
                </div>
                <div class="product__descr">
                    <h3 class="product__title">ice cream</h3>
                    <p class="product__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                        natural stabilizer
                    </p>
                </div>
                <button class="product__button js-open-modal" type="button" data-modal="2">
                    <span class="product__button-icon">
                        <svg width="40" height="14">
                            <use href="./images/symbol-defs.svg#arrow-default"></use>
                        </svg>
                    </span>
                </button>
            </li>
            <li class="product product__ice-coffee">
                <div class="product__img-thumb">
                    <img srcset="./images/item-before2-mob.png 1x, ./images/item-before2-mob-2x.png 2x"
                        src="./images/item-before2-mob.png" alt="Fragrant ice coffee"
                        class="product__img product__img--mob" width="200">
                    <img srcset="./images/item-before2-tab.png 1x, ./images/item-before2-tab-2x.png 2x"
                        src="./images/item-before2-tab.png" alt="Fragrant ice coffee"
                        class="product__img product__img--tab" width="200">
                    <img srcset="./images/item-before2.png 1x, ./images/item-before2-2x.png 2x"
                        src="./images/item-before2.png" alt="Fragrant ice coffee"
                        class="product__img product__img--desk" width="300">
                </div>
                <div class="product__descr">
                    <h3 class="product__title">ice coffee</h3>
                    <p class="product__text">Fragrant invigorating drink created from 100% natural ingredients without
                        the use of preservatives and flavor enhancers
                    </p>
                </div>
                <button class="product__button js-open-modal" type="button" data-modal="2">
                    <span class="product__button-icon">
                        <svg width="40" height="14">
                            <use href="./images/symbol-defs.svg#arrow-default"></use>
                        </svg>
                    </span>
                </button>
            </li>
            <li class="product product__milkshake">
                <div class="product__img-thumb">
                    <img srcset="./images/item-before3-mob.png 1x, ./images/item-before3-mob-2x.png 2x"
                        src="./images/item-before3-mob.png" alt="Sweet milkshake" class="product__img product__img--mob"
                        width="200">
                    <img srcset="./images/item-before3-tab.png 1x, ./images/item-before3-tab-2x.png 2x"
                        src="./images/item-before3-tab.png" alt="Sweet milkshake" class="product__img product__img--tab"
                        width="200">
                    <img srcset="./images/item-before3.png 1x, ./images/item-before3-2x.png 2x"
                        src="./images/item-before3.png" alt="Sweet milkshake" class="product__img product__img--desk"
                        width="300">
                </div>
                <div class="product__descr">
                    <h3 class="product__title">milkshakes</h3>
                    <p class="product__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits,
                        berries and other sweets of your choice
                    </p>
                </div>
                <button class="product__button js-open-modal" type="button" data-modal="2">
                    <span class="product__button-icon">
                        <svg width="40" height="14">
                            <use href="./images/symbol-defs.svg#arrow-default"></use>
                        </svg>
                    </span>
                </button>
            </li>
        </ul>
    </div>
</section>