<section class="reviews">
    <div class="container">
        <h2 class="visually-hidden">Customer Reviews</h2>
        <div class="swiper reviews-slider">
            <div class="reviews-slider__wrapper swiper-wrapper">
                <div class="reviews-slider__slide swiper-slide">
                    <div class="reviews-slider__block">
                        <img src="./images/foto_Emily.jpg" alt="Emily" class="slaider__foto">
                        <p class="reviews-slaider__text">I love visiting your cafe. You prepare the most delicious ice
                            cream in Los
                            Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                        <p class="reviews-slaider__name">Emily, Los Angeles</p>
                    </div>
                </div>
                <div class="reviews-slider__slide swiper-slide">
                    <div class="reviews-slider__block">
                        <img src="./images/foto_Sam.jpg" alt="Sam" class="slaider__foto">
                        <p class="reviews-slaider__text">I love eating popsicles on a hot day. Yours is always
                            delicious. I recommend your cafe to everyone I know.</p>
                        <p class="reviews-slaider__name">Sam, Los Angeles</p>
                    </div>
                </div>
                <div class="reviews-slider__slide swiper-slide">
                    <div class="reviews-slider__block">
                        <img src="./images/foto_Diana.jpg" alt="Diana" class="slaider__foto">
                        <p class="reviews-slaider__text">Ice cream is my passion! I love your chocolate hazelnut ice
                            cream! And I really like the excellent service - always served politely and quickly!</p>
                        <p class="reviews-slaider__name">Diana, Chicago</p>
                    </div>
                </div>
                <div class="reviews-slider__slide swiper-slide">
                    <div class="reviews-slider__block">
                        <img src="./images/foto_Bryan.jpg" alt="Bryan" class="slaider__foto">
                        <p class="reviews-slaider__text">Every day we come to you with friends after classes in college.
                            We love your ice cream and casual atmosphere!</p>
                        <p class="reviews-slaider__name">Bryan, New-York</p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>