.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: visibility var(--duration) var(--cubic), opacity var(--duration) var(--cubic);
    overflow: auto;
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}